.placer-holder-top {
    margin-bottom: 10px;
    height:10px;
}
.text-gold {
    color: #ffe800 !important;
}
.text-bold {
    font-weight: bold
}

.expiringTime {
    line-height:38px;
}

#right_hud > div {
    float: right;
    width: 500px;
}
#right_hud #weapon_container {
    float: right;
}
#right_hud #weaponicon {
    height: 200px;
}
#right_hud #clock{
    font-size: 72px;
    line-height: 1.3;
    text-align: right;
}
#right_hud #gold_container, #right_hud #money_container {
    font-size: 30px;
    line-height: 1.3;
    text-align: right;
}

#right_hud #statusIcons {
    clear:both;
    width: 110px;
    margin: 10px;
}
#right_hud #statusIcons > div {
    float:right;
    position: relative;
    margin-bottom: 5px;
}
#right_hud #statusIcons > div > img {
    height: 60px;
}
#right_hud #statusIcons > div > div.status_front {
    position: absolute;
    bottom: 0;
    overflow:hidden;
    height: 60px;
    width: 100%
}
#right_hud #statusIcons > div > div.status_front > img {
    position: absolute;
    bottom: 0;
    height: 60px;
}
#right_hud #statusIcons #health img {
    width: 69px;
}
#right_hud #statusIcons #armor img {
    width: 66px;
}
#right_hud #statusIcons #food img {
    width: 87px;
}
#right_hud #statusIcons #water img {
    width: 68px;
}
#right_hud #statusIcons #oxygen img {
    width: 63px;
}
#right_hud #statusIcons #wanteds img {
    width: 81px;
}

#right_hud #statusIcons #health {
    margin-right: 15.5px;
}
#right_hud #statusIcons #armor {
    margin-right: 17px;
}
#right_hud #statusIcons #food {
    margin-right: 6.5px;
}
#right_hud #statusIcons #water {
    margin-right: 16px;
}
#right_hud #statusIcons #oxygen {
    margin-right: 18.5px;
}
#right_hud #statusIcons #wanteds {
    margin-right: 9.5px;
}