#map {
  #radar {
    width: 100%;
    max-width: 100%;
  }
  font-size: 12px;

}

.cop-point {
  position: absolute;
  color: #0400ff;
  text-shadow: $text-shadow-white;
  font-weight: bold;
  margin-left:-2.5em;
  margin-top: -0.5em;
  cursor: pointer;

  .car {
    font-size: 1em;
  }

  .carNumber {
    float:left;
    margin-right: 3px;
  }
}

.blitzer-point {
  position: absolute;
  text-shadow: $text-shadow-white;
  font-weight: bold;
  margin-left:-0.5em;
  margin-top: -0.5em;
  cursor: pointer;
  color: #10b301;

  .blitzer {
    font-size: 1em;
  }

  &.defect {
    color: #a40000;
  }

  &.executed {
    color: #d5a400;
  }
}

.edit {
  color: $brand-danger;
  cursor: pointer;
}