//@import "../bootstrap/variables";

$font-family-custom: "Arial Black", Gadget, sans-serif;
$text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
$text-shadow-white: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
